<% if line_item == @current_item %>
    <tr class="line-item-highlight">
<% else %>
    <tr>
<% end %>
    <td class="quantity"><%= line_item.quantity %></td>
    <td><%= line_item.product.title %></td>
    <td class="price"><%= number_to_currency(line_item.total_price) %></td>
    <% unless local_assigns[:hide_remove_line_item] %>
        <td><%= button_to 'Remove from cart', line_item, method: :delete, remote: true, data: {confirm: "Do you really want to remove #{line_item.product.title} from your cart?"} %></td>
    <%end%>
</tr>